img {
    width: 120px;
    margin: 20px;
  }

.planet_1{
    clip-path: url(#planet_1);
  }
  
.planet_2 {
    clip-path: url(#planet_2);
  }
  
  #home {
    margin:auto;
    background-image:url("stars.gif");
    background-size:auto 40%;  
    background-position:center top;
 }

 .tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color:white;
  color:black;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: -5px;
  right: 105%;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.icon-bar {
  width: 50%;
  background-color: #555;
  overflow: auto;
}

.icon-bar a {
  float: left;
  width: 50%;
  text-align: center;
  padding: 12px 0;
  transition: all 0.3s ease;
  color: white;
  font-size: 36px;
}

.icon-bar a:hover {
  background-color: #000;
}

.active {
  background-color: #4CAF50 !important;
}

.chart_parent_0 {
  width: 1500px;
  margin:0 auto;
  padding: 0px;
  overflow:hidden;/*contain child floats*/
}

.chart_parent {
  width: 1500px;
  height:1000px;
  margin:0 auto;
  padding: 0px;
  overflow:hidden;/*contain child floats*/
}
.chart_first {
  width: 680px;
  height: 500px;
  float: left;
}

.chart_second {
  width: 680px;
  height: 500px;
  float: right;
}

.scroll-area{
  width:50%;
  height:470px;
  margin-top:0px;
  float:left;
  overflow-y:scroll;
  align-content: right;
  padding-left: "200px"
}

.scroll-area_0{
  width:50%;
  height:500px;
  margin-top:0px;
  float:left;
  overflow-y:scroll;
  align-content: right;
  padding-left: "200px"
}