img {
    width: 120px;
    margin: 20px;
  }

.planet_1{
    clip-path: url(#planet_1);
  }
  
.planet_2 {
    clip-path: url(#planet_2);
  }
  
  #home {
    margin:auto;
    background-image:url("stars.gif");
    background-size:auto 40%;  
    background-position:center top;
 }